# Database — lokal (SQLite). Produksi: ganti ke PostgreSQL, mis. Neon/Railway.
DATABASE_URL="file:./prisma/dev.db"

# Auth.js / NextAuth — generate: openssl rand -base64 32
AUTH_SECRET="ganti-dengan-secret-panjang-acak"

# URL aplikasi (penting untuk cookie & redirect produksi)
AUTH_TRUST_HOST="true"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
